{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
{% load static%}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
     <div class="breadcrumbs">
      <div class="container">
        <h2>Scholarships</h2>
        {% comment %} <p>​​​​​There are many scholarships available at postgraduate and doctorate levels to help academically gifted students and faculty. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs --> 

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/germany.png'%}" class="img-fluid" alt="">
              
            </div>
          </div>

        </div>
        <h1>BI International Scholarships at Berlin <br>International University of Applied Sciences,<br> Germany</h2>
        <p> Berlin International University of Applied Sciences has come up with a wonderful opportunity for bachelor students to fund their studies. It has introduced the BI Scholarships for the academic year 2022-2023.<br>The scholarship award will be dispersed as a discount of 25% of the total tuition fee for the bachelor’s programme at the Berlin International University of Applied Sciences. Selection will be based on the academic merit and motivation of the students.</p>
        <h2>Brief Description</h2>
        <ul>
          <li>University or Organization: Berlin International University of Applied Sciences</li>
          <li>Department: NA</li>
          <li>Course Level: Bachelor</li>
          <li>  Award: Tuition fee</li>
          <li> <b> Number of Awards:</b> NA</li>
          <li>  Access Mode: Online</li>
          <li>  Nationality: Domestic and International</li>
          <li>  The award can be taken in Germany.</li>
        </ul>
        <h2>Eligibility</h2>
        <ul>
          <li>Eligible Countries: All interested students are eligible to apply.</li>
          <li>Eligible Course or Subjects: Students can apply for the bachelor’s degree programme at the Berlin International University of Applied Sciences.</li>
          <li>Eligibility Criteria: To be eligible, the applicants must meet all the following/given criteria:</li>
          <li>The applicants must submit applications for the bachelor’s program in time for the fall semester.</li>
          <li>The applicants must demonstrate academic excellence and motivation.</li>
        </ul>
        <h2>How to Apply</h2>
        <ul>
          <li>How to Apply: The students are required to complete their application electronically through the university’s online portal. All eligible students will e considered automatically.</li>
          <li>Supporting Documents: The students are required to present the following documents to the university:</li>
          <li>Letter of motivation</li>
          <li>CV</li>
          <li>New Students: Letter of reference</li>
          <li>Copy of last school certificate (for 1st-semester students)</li>
          <li>OIS-Transcript of Records (for 2nd-semester students and higher)</li>
          <li>Architecture and Design students: Portfolio</li>
          <li>Admission Requirements: The applicants must hold a German Abitur / Fachabitur or equivalent to meet the German university entrance level requirements.</li>
          <li>Language Requirement: The students must submit scores of the following English language proficiency tests:</li>
          <li>IELTS (Academic) – 6 (in each subsection)</li>
          <li>Cambridge FCE – B2</li>
          <li>PTE Academic – 59</li>
          <li>BAU ‘English Language Proficiency Exam’ – 60/100</li>
          <li>IB Diploma ­- English A or B at HL or SL</li>
        </ul>
        <h2>Benefits</h2>
        <p>The selected candidates will be provided up to 25% of the tuition fee of the undertaken<br> bachelor’s programme at the Berlin International University of Applied Sciences.</p>
        
      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  
{% endblock %}
</html>