{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
{% load static%}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
     <div class="breadcrumbs">
      <div class="container">
        <h2>Scholarships</h2>
        {% comment %} <p>​​​​​There are many scholarships available at postgraduate and doctorate levels to help academically gifted students and faculty. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs --> 

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/Vanier.jpg'%}" class="img-fluid" alt="">
              
            </div>
          </div>

        </div>
        <h1>Vanier Canada Graduate Scholarships 2022 | Government of Canada |</h2>
        <p> Applications are open to Apply for the Vanier Canada Graduate Scholarships 2022 in Canada For International Students from Canadian Government Scholarship. Vanier Canada Graduate Scholarships Offers Up to 166 scholarships annually. The Scholarship is open to Canadian Citizens, International Citizens and Permanent residents of Canada.</p>
        <p>Vanier Canada Graduate Scholarships are Funded by the Government of Canada. Highly Prestigious and Competitive Vanier Canada Graduate Scholarships for Masters leading to Ph.D. and Ph.D. All Fields of Study Options are available in Canadian Institutions like Health research Natural sciences and/or Engineering Research, Social Sciences and/or Humanities</p>
        <h2>Information on Vanier Canada Graduate Scholarships</h2>
        <ul>
          <li>Scholarship Country: Canada</li>
          <li>Sponsored by: Government of Canada</li>
          <li>Duration: 2 Years</li>
          <li>Deadline: 3rd November 2024</li>
        </ul>
        <h2>General Eligibility Criteria for Vanier Canada</h2>
        <ul>
          <li>Eligible Countries: All interested students are eligible to apply.</li>
          <li>Eligible Course or Subjects: Students can apply for the bachelor’s degree programme at the Canadian International University of Applied Sciences.</li>
          <li>Eligibility Criteria: To be eligible, the applicants must meet all the following/given criteria:</li>
          <li>The applicants must submit applications for the bachelor’s program in time for the fall semester.</li>
          <li>The applicants must demonstrate academic excellence and motivation.</li>
          <li>Canadian Citizen or Foreign Citizen.
            be nominated by only one Canadian institution, which must have received a Vanier CGS Quota.</li>
        </ul>
        <h2>How to Apply</h2>
        <ul>
          <li>How to Apply: The students are required to complete their application electronically through the university’s online portal. All eligible students will e considered automatically.</li>
          <li>Supporting Documents: The students are required to present the following documents to the university:</li>
          <li>New Students: Letter of reference</li>
          <li>Copy of last school certificate </li>
          <li>OIS-Transcript of Records (for 2nd-semester students and higher)</li>
          <li>Architecture and Design students: Portfolio</li>
          <li>Admission Requirements: The applicants must hold a German Abitur / Fachabitur or equivalent to meet the German university entrance level requirements.</li>
          <li>Language Requirement: The students must submit scores of the following English language proficiency tests:</li>
          <li>IELTS (Academic) – 6 (in each subsection)</li>
          <li>Cambridge FCE – B2</li>
          <li>PTE Academic – 59</li>
          <li>BAU ‘English Language Proficiency Exam’ – 60/100</li>
          <li>IB Diploma ­- English A or B at HL or SL</li>
          <li>How to get scholarships in Canada? The Applying process is mentioned in the link below. There is detailed information step by step on How to Apply. Please Visit the Official website of Vanier Canada Graduate Scholarship</li>
        </ul>
        <h2>Benefits</h2>
        <p>The selected candidates will be provided up to 10% of the tuition fee of the undertaken<br> bachelor’s and master's programme at the Canadian International University of Applied Sciences.</p>
        
      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  
{% endblock %}
</html>