{% extends 'base.html' %}
{% if user.is_authenticated %}
{% load static %}

{% block custom_css_links %}
<link href="{% static 'assets/css/profile_style.css' %}" rel="stylesheet">
{% endblock custom_css_links %}

{% block body %}
<div class="main-content">

    <!-- Header -->
    <div class="header d-flex align-items-center" style="min-height: 180px;">
        <span class="mask opacity-8"></span>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="{{user.profile.photo.url}}" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    </div>
                    <div class="card-body pt-0 pt-md-4">

                        <div class="mt-5 pt-5">
                            <div class="text-center">
                                <h2 class="text-center pb-3">
                                    {{ request.user.username.capitalize }}
                                </h2>

                            </div>

                            <hr class="my-4">
                            <div class="row">
                                <a href="{% url 'userprofile' %}" class="col-md-12 py-2"><i
                                        class="bi bi-person-fill mx-2"></i>My Profile</a>
                                <a href="{% url 'my_recommendations' %}" class="col-md-12 py-2"><i
                                        class="bi bi-file-text mx-2"></i>My
                                    Recommmendations</a>
                                <a href="{% url 'my_history' %}" class="col-md-12 py-2"><i
                                        class="bi bi-file-text mx-2"></i>Feedback</a>
                                <a href="{% url 'my_history' %}" class="col-md-12 py-2"><i
                                        class="bi bi-file-text mx-2"></i>History</a>
                                <a href="{% url 'logout' %}" class="col-md-12 py-2"><i
                                        class="bi bi-arrow-up-right mx-2"></i>Logout</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 order-xl-2">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Settings</h3>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Form -->
                        {{p_form.non_field_errors}}
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}"
                                style="background-color: #5E72E4;padding: 15px 20px;margin-bottom: 20px;color: white;border-radius: 7px;">
                                {{message}}
                            </div>

                            {% endfor %}
                            {% endif %}
                            {% block content %}{% endblock %}
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="old_password">Old Password</label>
                                            <input type="password" name="old_password" required maxlength="30"
                                                id="old_password" class="form-control form-control-alternative">

                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="new_password">New Password</label>

                                            <input type="password" name="new_password" required maxlength="30"
                                                id="new_password" class="form-control form-control-alternative">

                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="retype_new_password">Retype New
                                                Password</label>

                                            <input type="password" name="retype_new_password" required maxlength="30"
                                                id="retype_new_password" class="form-control form-control-alternative">

                                        </div>
                                    </div>
                                </div>

                            </div>



                            <input type="submit" value="Save" class="btn btn-primary"
                                style="background-color: #31526B; color:white;">


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



{% else %}
<h1> You are not logged in </h1>


{% endif %}